* {
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  text-align: left;
  color: var(--dark);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--body-bg);
  font-weight: var(--font-weight-base);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

input, select {
  border: .05rem solid var(--dark);
  padding: .375rem .5rem;
  display: block;
  background-color: var(--white);
  border-radius: .25rem;
  width: 100%;
  font-family: inherit;
  line-height: inherit;
  font-size: 1rem;
  color: var(--dark);
  outline: none;
  transition-property: border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

input:focus, select:focus {
  border-color: var(--primary-color);
}

button {
  padding: .275rem .5rem;
  font-family: inherit;
  line-height: inherit;
  font-size: 1rem;
  outline: none;
  border: .05rem solid var(--dark);
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-function);
}

a {
  cursor: pointer;
  transition: all var(--transition-duration) linear;
}

label {
  font-size: var(--font-size-mini);
}

.main-container {
  padding: 5rem 2rem 1rem;
}

.main-container--sidebar {
  padding-left: 18rem;
}

.pos_relative {
  position: relative;
}

.container__cards {
  overflow-y: auto;
  display: grid;
  grid-gap: 1rem;
  height: calc(100vh - 70px - 58.44px);
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 50rem) {
  .main-container--sidebar {
    padding-left: 2rem;
  }
}