.sidebar {
    left: 0;
    top: 4.4rem;
    position: fixed;
    padding: 0 .5rem;
    color: var(--white);
    width: var(--sidebar-width);
    height: calc(100vh - 4.4rem);
    background-color: var(--sidebar-bg-color);
    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-function);
}

.sidebar__item {
    padding-bottom: 1rem;
    border-bottom: .01rem solid var(--white);
}

.sidebar__item--search {
    display: flex;
    align-items: flex-end;
}

.input__group {
    display: flex;
}

.input__group input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button__search {
    border-left: none;
    color: var(--white);
    padding: .4rem .275rem 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background-color: var(--primary-color);
}

.button__search:hover,
.button__search:focus {
    text-shadow: 0 0 .25rem var(--black);
    background-color: var(--primary-color-light);
}

.select__container {
    width: 7rem;
    margin-left: .2rem;
}

.sidebar__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Checkbox */
.checkbox {
    user-select: none;
    position: relative;
    height: 4rem;
}

.checkbox > input {
    display: none;
}

.checkbox > input + label:before {
    top: 2rem;
    content: '';
    left: .8rem;
    height: 1rem;
    width: 2.5rem;
    cursor: pointer;
    position: absolute;
    border-radius: 0.5rem;
    background-color: var(--gray);
    transition: background-color var(--transition-duration) var(--transition-function);
}

.checkbox > input + label:after {
    left: .5rem;
    content: '';
    top: 1.85rem;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    position: absolute;
    border-radius: 1rem;
    background-color: var(--white);
    transition: transform var(--transition-duration) var(--transition-function);
}

.checkbox > input:checked + label:before {
    background-color: var(--primary-color);
}

.checkbox > input:checked + label:after {
    transform: translateX(1.6rem);
    box-shadow: 0 0 .5rem var(--white);
}

@media only screen and (max-width: 50rem) {
    .sidebar {
        transform: translateX(-17rem);
    }

    .sidebar--open {
        transform: translateX(0);
    }
}